@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300&subset=latin,cyrillic);

* {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font: 10px/13px 'Comfortaa',sans-serif;
}

body.modal-open {
	overflow: visible!important;
}

.modal {
	overflow-y: visible!important;
}

.modal-dialog {
	width: 330px;
}

.modal-header {
	border: none;
}

.modal-title {
	font-weight: bold;
	text-align: center;
}

.modal-footer {
	border-top: none;
}

.social-links {
	text-align: justify !important;
	font-size: 0 !important;
	line-height: 0;
	margin: 0 0 -10px 0;
	padding: 0;
	list-style: none;
}

.social-links li {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	margin: 0 0 10px;
}

.social-links li .fb {
	background-color: #4169bc;
}

.social-links li .fb:hover{
	background-color: #365aa7;
}

.social-links li .vk {
	background-color: #3a86c0;
}

.social-links li .vk:hover{
	background-color: #2f75ab;
}

.social-links li .tw {
	background-color: #1caeea;
}

.social-links li .tw:hover{
	background-color: #009bd6;
}

.social-links li .gplus {
	background-color: #e45448;
}

.social-links li .gplus:hover{
	background-color: #cb4c3d;
}

.social-links:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.social-links li a {
	display: block;
	width: 100%;
	height: 46px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 12px/46px "ProximaNova-Bold", sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
}

.wrap {
  text-align: center;
  margin: 10px auto;
}
.box {
  padding: 10px;
  display: inline-block;
  position: relative;
  margin: 1%;
  width: 28%;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(109, 109, 109, 0.75);
  -moz-box-shadow: 0px 2px 6px 0px rgba(109, 109, 109, 0.75);
  box-shadow: 0px 2px 6px 0px rgba(109, 109, 109, 0.75);
}

.boxInner .imgWrapper {
	background-color: #000000;
}

.boxInner img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.titleBox {
	font-size: 14px;
	color: #aaa;
	font-style: italic;
	text-align: left;
	font-weight: 400;
}

.titleBox .memberName {
	color: #aaa;
	overflow: hidden;
	width: 194px;
	display: inline-block;
}

.titleBox .memberName:hover {
	color: #000000;
}

.titleBox .heartWrapper {
	display: inline-block;
}
/* Hack and hardcode for diffrent sizes of desktop version display grid */
@media all and (min-width:1181px) {
	.wrap {
		width: 920px;
	}
}

@media all and (min-width:1025px) and (max-width: 1180px) {
	.wrap {
		width: 744px;
	}
}

@media all and (min-width:960px) and (max-width: 1024px) {

}

@media all and (min-width:801px) and (max-width: 959px) {
  /* put your css styles in here */
}

@media all and (min-width:769px) and (max-width: 800px) {
  /* put your css styles in here */
}

@media all and (min-width:569px) and (max-width: 768px) {
  /* put your css styles in here */
}

@media all and (min-width:481px) and (max-width: 568px) {
  /* put your css styles in here */
}

/* Little hack 655px hardcorde for tablet responsive display pictures */
@media all and (min-width:321px) and (max-width: 655px) {
  .box {
  	width: 45%;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  .box {
  	width: 95%;
  }
}

#contentWrapper {
	width: 50%;
	margin: 0 auto;
	background-color: #cccccc;
}

.galleryItem {
	background-color: #ffffff;
	width: 30%;
	display: inline-block;
	border: 1px solid #000000;
}

.galleryItem img {
	width: 100%;
}

/* End Grid styles */

 @-webkit-keyframes post_poof {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.5);
    }

    25% {
        opacity: 1;
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
}

@-moz-keyframes post_poof {
    0% {
        opacity: 1;
        -moz-transform: scale(0.5);
    }

    25% {
        opacity: 1;
        -moz-transform: scale(1);
    }

    100% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
}
@keyframes post_poof {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}

@-webkit-keyframes like_poof {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }

    25% {
        opacity: 1;
        -webkit-transform: rotate(-20deg);
    }

    75% {
        -webkit-transform: rotate(20deg);
    }

    100% {
        margin-top: -80px;
        opacity: 0;
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes like_poof {
    0% {
        opacity: 1;
        -moz-transform: rotate(0deg);
    }

    25% {
        opacity: 1;
        -moz-transform: rotate(-20deg);
    }

    75% {
        -moz-transform: rotate(20deg);
    }

    100% {
        margin-top: -80px;
        opacity: 0;
        -moz-transform: rotate(0deg);
    }
}
@keyframes like_poof {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    25% {
        opacity: 1;
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        margin-top: -80px;
        opacity: 0;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes unlike_heartbreak_left {
    0% {
        margin-top: -36px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }

    30% {
        margin-top: -36px;
        opacity: 1;
    }

    80% {
        margin-top: 0;
        opacity: 0;
        -webkit-transform: rotate(-15deg);
    }

    100% {
        margin-top: 0;
        opacity: 0;
        -webkit-transform: rotate(-15deg);
    }
}

@-moz-keyframes unlike_heartbreak_left {
    0% {
        margin-top: -36px;
        opacity: 1;
        -moz-transform: rotate(0deg);
    }

    30% {
        margin-top: -36px;
        opacity: 1;
    }

    80% {
        margin-top: 0;
        opacity: 0;
        -moz-transform: rotate(-15deg);
    }

    100% {
        margin-top: 0;
        opacity: 0;
        -moz-transform: rotate(-15deg);
    }
}
@keyframes unlike_heartbreak_left {
    0% {
        margin-top: -36px;
        opacity: 1;
        transform: rotate(0deg);
    }

    30% {
        margin-top: -36px;
        opacity: 1;
    }

    80% {
        margin-top: 0;
        opacity: 0;
        transform: rotate(-15deg);
    }

    100% {
        margin-top: 0;
        opacity: 0;
        transform: rotate(-15deg);
    }
}

@-webkit-keyframes unlike_heartbreak_right {
    0% {
        margin-top: -36px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }

    30% {
        margin-top: -36px;
        opacity: 1;
    }

    80% {
        margin-top: 0;
        opacity: 0;
        -webkit-transform: rotate(15deg);
    }

    100% {
        margin-top: 0;
        opacity: 0;
        -webkit-transform: rotate(15deg);
    }
}

@-moz-keyframes unlike_heartbreak_right {
    0% {
        margin-top: -36px;
        opacity: 1;
        -moz-transform: rotate(0deg);
    }

    30% {
        margin-top: -36px;
        opacity: 1;
    }

    80% {
        margin-top: 0;
        opacity: 0;
        -moz-transform: rotate(15deg);
    }

    100% {
        margin-top: 0;
        opacity: 0;
        -moz-transform: rotate(15deg);
    }
}
@keyframes unlike_heartbreak_right {
    0% {
        margin-top: -36px;
        opacity: 1;
        transform: rotate(0deg);
    }

    30% {
        margin-top: -36px;
        opacity: 1;
    }

    80% {
        margin-top: 0;
        opacity: 0;
        transform: rotate(15deg);
    }

    100% {
        margin-top: 0;
        opacity: 0;
        transform: rotate(15deg);
    }
}
.post_full {
	display: inline-block;
	width: 35px;
	height: 30px;
    font-size: 14px;
}
.post_full .poof {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    display: block;
    margin: -27px 0 0 -27px;
    width: 54px;
    height: 54px;
    background: url('http://pic.yupoo.com/reicky_v/DaDzQfuC/medium.jpg') no-repeat;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: post_poof .6s ease-out;
    -moz-animation: post_poof .6s ease-out;
    -ms-animation: post_poof .6s ease-out;
    -o-animation: post_poof .6s ease-out;
    animation: post_poof .6s ease-out;
    -ms-transform-origin: 50% 50%;
}
.post_full .post_control {
	font-size: 18px;
    color: #C0C0C0;
    position: relative;
    display: inline-block;
    margin: 10px 0 10px 12px;
    width: 25px;
    height: 25px;
    text-align: left;
    cursor: pointer;
}

.post_full .post_control:after {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: visible;
    margin: -12px 0 0 -12px;
    width: 33px;
    height: 24px;

    content: '';
    opacity: .65;
}
.post_full .post_control.like:after {
    background-position: 0 -133px;
}

.post_full .post_control.like.liked {
	color: #f66!important;
}

.post_full .post_control.like.liked:after {
    background-position: 0 -164px;
    opacity: 1;
}
.post_full .post_control .poof {
    top: -27px;
}
.post_full .post_animated_heart {
    background: url('http://pic.yupoo.com/reicky_v/DaDzQfuC/medium.jpg') no-repeat 0 -66px;
    -webkit-animation: like_poof .6s ease-out;
    -moz-animation: like_poof .6s ease-out;
    animation: like_poof .6s ease-out;
}

.post_full .post_animated_heart span {
    display: none;
}
.post_full .unlike .post_animated_heart span {
    display:block;
}
.post_full .unlike .post_animated_heart {
    background: transparent;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}

.post_full .unlike .post_animated_heart span {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin-left: 3px;
    height: 100%;
    background: url('http://pic.yupoo.com/reicky_v/DaDzQfuC/medium.jpg') no-repeat;
}

.post_full .unlike .post_animated_heart span.heart_left {
    margin-left: -29px;
    width: 29px;
    height:48px;
    background-position: 0 -6px;
    -webkit-transform-origin: 26px 54px;
    -moz-transform-origin: 26px 54px;
    -o-transform-origin: 26px 54px;
    transform-origin: 26px 54px;
    -ms-transform-origin: 26px 54px;
    -webkit-animation: unlike_heartbreak_left .6s ease-out;
    -moz-animation: unlike_heartbreak_left .6s ease-out;
    -ms-animation: unlike_heartbreak_left .6s ease-out;
    -o-animation: unlike_heartbreak_left .6s ease-out;
    animation: unlike_heartbreak_left .6s ease-out;
}

.post_full .unlike .post_animated_heart span.heart_right {
    width: 29px;
    height:48px;
    background-position: -29px -6px;
    -webkit-transform-origin: 0 54px;
    -moz-transform-origin: 0 54px;
    -o-transform-origin: 0 54px;
    transform-origin: 0 54px;
    -ms-transform-origin: 0 54px;
    -webkit-animation: unlike_heartbreak_right .6s ease-out;
    -moz-animation: unlike_heartbreak_right .6s ease-out;
    -ms-animation: unlike_heartbreak_right .6s ease-out;
    -o-animation: unlike_heartbreak_right .6s ease-out;
    animation: unlike_heartbreak_right .6s ease-out;
}

/* End heart animation browsers styles */

